ol.ivs-nature-list {
    list-style-type: none;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2% 30px;
}

li.ivs-nature-element {
    display: grid;
    grid-template-columns: 15% 5% 20% 10% 20% 10% 10%;
    align-items: center;

    gap: 0 2%;
}



