@keyframes spin-pokeball {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.weavile-loading {
    /* Sospechoso de dar problemas en un futuro. */
    animation: spin-pokeball 2s linear infinite;
    max-width: 100%;
    margin: 0% 50%;
    grid-row: 2/4;
}

@media screen and (max-width: 1400px) {
    
    .weavile-loading {
        grid-row: 4/5;
        justify-self: center;
        margin: 0px auto;
    }
    
}