.team-member-menu {
    display: grid;
    grid-template-columns: 25% 72%;
    gap: 3%;

    /* Sospechoso de fallar */
    max-height: 70vh;

    margin-bottom: 5%;
    margin-top: 20px;
}

.delete-button-div {
    grid-column: 1/2;
    grid-row: 3/4;
}

@media screen and (max-width: 1400px) {
    
    .team-member-menu {
        grid-template-columns: 1fr;
    }

    .delete-button-div {
        grid-column: initial;
        grid-row: 2/3;
    }
    
}

