.team-member-menu {
    display: grid;
    grid-template-columns: 25% 72%;
    gap: 3%;

    /* Sospechoso de fallar */
    max-height: 70vh;
    margin-top: 15px;
}


@media screen and (max-width: 1400px) {
    
    .team-member-menu {
        display: flex;
        flex-direction: column;
        max-height: none;
    }
    
}

