/* El banner condicionaba los márgenes del resto de la página
haciendo que se viera desajustado */

.selected-team-banner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 3% 5.7vw 0% !important;
}

.selected-team-banner > .selected-team-name {
    grid-column: 1/-1;
    margin: 0% 41%;
}