.element-grid {
    border: solid 1px rgb(244, 241, 241);
    border-radius: 8px;

    list-style-type: none;
    padding: 0px;
    margin: 0px;

    /*Este max-height sirve para limitar la altura de MoveGrid, ItemGrid...
    Idealmente el .element-grid se extendería a lo alto de su nodo padre
    el cúal debería compartir altura con MemberCard pero no se como lograrlo */
    
    max-height: 535px;
    overflow-y: auto;
}

.element-grid > *:hover {
    border-bottom: solid 1px  rgb(244, 241, 241);
    padding-bottom: 7px;
}


@media screen and (max-width: 1400px) {
    
    .element-grid {
        max-height: 600px;
    }
    
}