.member-item-ability-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    justify-items: center;
    margin-bottom: 15px;
}

@media screen and (max-width: 700px) {
    
    .member-item-ability-div {
        grid-template-columns: 1fr;
    }
    
}