.member-item, .member-ability {
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 16px;
}

.member-item p, .member-ability p {
    margin: 0px;
}

.member-item > p + p, .member-ability > p + p {
    margin: 3% 0%;
    padding: 5px 5%;
}

@media screen and (max-width: 700px) {
    
    .member-item > p + p, .member-ability > p + p {
        margin: 3% auto;
        padding: 5px 1%;
        
    }
    
}