.selected-member-sprite {
    background-image: url('../../../../images/main/selectedTeamBanner/pokeballbackgrounddef.webp');
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen */
    background-size: contain;
}

.heading-pokemon-sprite {
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.selected-member{
    filter: drop-shadow(0 0 4px #007bff);
    image-rendering: auto; 
}


@media screen and (max-width: 700px) {
    .heading-pokemon-sprite{
        padding-bottom: 15px;
        width: 60%;
    }

    .missigno-sprite {
        padding: 4px 0px;
    }
}
