.pokemon-ability {
    color: #e1dede;
    text-align: center;
    margin: 0px;
    margin-bottom: 15px;
}

@media screen and (max-width: 700px) {
    
    .pokemon-ability {
        margin-bottom: 0px;
    }
    
}