.banner-member-name {
    text-align: center;

    background-color: #e1dede;
    color: #26262a;
    border-radius: 14px;
    margin: 5% 15%;
    padding: 2px;
}

@media screen and (max-width: 700px) {
    .banner-member-name {
        margin: 5px;
        padding-top: 6px;
    }
}