.weavile-button {
    padding: 1vh 0.7vw;
    border-radius: 8px;
    background-color: rgb(237, 235, 235);
    cursor: pointer;
    border: 0px;
    white-space: nowrap;
    color: #28282D;
}

.weavile-button-outlined {
    border: solid 1px rgb(220, 217, 217);
    background-color: transparent;
    color:rgb(237, 235, 235);
}