.member-ivs-evs-nature {
    background-color: #EDEBEB;
    color:black;
    border: solid 1px transparent;
}

.member-ivs-evs-nature, .member-type-coverage {
    margin: 3% 0%;
    padding: 5px 12%;
}
