.member-moves {
    margin-top: 5%;
}

.member-moves > h4 {
    text-align: center;
    font-size: 1.3rem;
    
    margin: 0px;
    margin-bottom: 10px;
}

.member-moves > ul {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    
    margin: 0px;

    list-style-type: none;
    padding: 0px;

    cursor: pointer;
}

/* Ancho 100% del ul de move-list*/
.member-moves-move {
    width: 100%;
}

.member-moves-move > input {
    display: flex;
    justify-self: center;

    /*No preguntes porque pero width 100% sobresale el ancho del ul padre (member-moves-move)*/
    width: 95%;
    padding: 5px;

    text-align: start; 
    background-color: transparent;

    margin-bottom: 10px;

    border: solid 1.9px rgb(244, 241, 241);
    border-radius: 8px;
}


