.member-card-wrapper {
    display: flex;
    flex-direction: column;
}

.member-card {
    border: solid 1px rgb(244, 241, 241);
    border-radius: 16px;

    padding: 0% 20px;
}

@media screen and (max-width: 1600px) {
    
    .member-card {
        padding: 0% 45px;
    }
    
}

@media screen and (max-width: 700px) {
    .member-card {
        padding: 0% 25px;
    }
    
}


