@font-face {
  font-family: "WeavileFont";
  font-display: block;
  src: url("../../assets/fonts/Tajawal/Tajawal-Medium.ttf") format("truetype");
}

:root {
  --default-font: "WeavileFont";
  --default-font-size: 20px;
  --phone-font-size: 18px;
  --default-font-color: rgb(244, 241, 241);
}