.missigno-card {
    display: grid;
    grid-template-columns: 5% 10% 10% 1fr 1fr;
    gap: 2%;
    justify-content: start;
    align-items: center;

    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
}

.missigno-card:hover {
    border: solid 1px  rgb(244, 241, 241);
    border-radius: 8px;
}

.missigno-card .missigno-stats {
    justify-self: end;
}

/* Las dimensiones de los iconos de pokemón y missignoIcon no coinciden,
así que para alinearlos modifique los márgenes en caso de 
que toque mostrar missignoIcon */ 


.missigno-icon-defined {
    margin-top: -25px;
    margin-left: -15px;
}

.missigno-card > .missigno-name {
    color: rgb(244, 241, 241);
}

.missigno-types-list {
    display: flex;
    margin-bottom: 4px;
    margin-left: 2%;
}

.missigno-types-list > img {
    margin: 0% 3%;
}

.missigno-ablities-list {
    margin-left: 3%;
    display: flex;
    flex-direction: row;
}

.missigno-ablities-list > span {
    padding: 0% 2%;
    white-space: nowrap;
}

.missigno-stats {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-left: 4%;
}

.missigno-stats > span {
    margin-left: 7px;
    margin-bottom: -2px;
}

.missigno-stats > .missigno-num-stat {
    font-size: 0.9rem;
}