.missigno-grid {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 1400px) {
    .missigno-grid {
        gap: 15px 0%;

        margin-left: -5vw;
  }    
}

@media screen and (max-width: 700px) {
    
    .missigno-grid {
        gap: 15px 0%;

        margin-left: 0vw;
  }  
    
}