.type-coverage-div > h5 {
    margin: 0px;
}

.type-coverage-grid {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    justify-items: center;
    gap: 3% 0%;

    border-top: solid 1px rgb(244, 241, 241);
    padding: 0px;
    padding-top: 10px;

    margin: 1% 0%;
}

.type-is-covered {
    /* border-bottom: solid 1.9px   #11a124 !important; */
    /* Generado en https://cssgenerator.org/box-shadow-css-generator.html */
    border-radius: 8px;
    box-shadow: -1px 0px 11px 2px rgba(17,161,36,0.70);
    -webkit-box-shadow: -1px 0px 11px 2px rgba(17,161,36,0.70);
    -moz-box-shadow: -1px 0px 11px 2px rgba(17,161,36,0.70);

    transition: 0.2s;
}
