.option-banner {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 1% 7vw;

    border-bottom: solid 1px whitesmoke;
}

.option-banner > .share-link {
    margin-left: auto;
}

.option-banner > * {
    margin-bottom: 1%;
}