/* selectedTeamBanner.module.css */

.selected-team-banner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}


@media screen and (max-width: 1400px) {
  .selected-team-banner {
    grid-template-columns: repeat(3, 1fr);
  }
}
