.selected-team-name-div {
    grid-column: 1/7;
    justify-self: center;
    align-self: center;

    margin-bottom: 30px;
}

.selected-team-name-input {
    /* width: calc((100% / 7) * 2); */
    background-color: transparent;
    border: 0px;
    border-bottom: solid 1px white;

    text-align: center;
    font-size: 1.2rem;
}

@media screen and (max-width: 1400px) {
    .selected-team-name-div {
        grid-column: 1/4;
    }
}

