.ability-card {
    list-style-type: none;
    display: grid;
    grid-template-columns: 15% 1fr;

    justify-items: start;
    align-items: center;
    
    margin: 15px 20px;
    padding: 0px 10px 15px;
}

.ability-card > * {
    margin: 0px;
}

.ability-card > h4 {
    font-size: 1.1rem;
}

/* Aún con max-height para el contenedor padre, provoca redistribuciones raras así que 
dejalo igual*/

.ability-card:last-of-type {
    margin-bottom: 100%;
}

/* No necesitas scroll en el grid de habilidades*/
.ability-grid {
    overflow-y: hidden !important;
}