.item-card {
    list-style-type: none;

    display: grid;
    grid-template-columns: 10% 18% 1fr;

    justify-items: start;
    align-items: center;
    margin: 0px 20px;
}
.item-card img {
    margin-bottom: -2px;
}