.move-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 0px 8px;
    cursor: pointer;

    margin: 1.7%;
}

.move-card p, .move-card h3, .move-card tr {
    margin: 0px;
}


.move-card > .moves-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}