.team-list-heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    

    margin: 0px;
    font-size: 1.2rem;
}

.team-list-heading > h3 {
    margin: 0px;
    font-size: 1.3rem;
}

.team-list-heading > div {
    justify-self: end;
}