@font-face {
  font-family: "WeavileFont";
  src: url("./assets/fonts/Tajawal/Tajawal-Medium.ttf") format("truetype");
}

* {
    font-family: "WeavileFont";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    color: rgb(244, 241, 241);
    outline: none;
}

body {
  background-color: #28282d;
}


#root > *{
  margin-left: 8vw;
  margin-right: 8vw;
}

@media screen and (max-width: 1400px) {
  #root > *{
      margin-left: 4vw;
      margin-right: 4vw;
  }
}

@media screen and (max-width: 700px) {
  #root > *{
      margin-left: 1vw;
      margin-right: 1vw;
  }

}