@import './globalStyles/globalVariables/generalFonts.css';
@import './globalStyles/globalVariables/generalColors.css';

* {
    font-family: var(--default-font);
    font-size: var(--default-font-size);
    font-weight: normal;
    font-style: normal;
    color: var(--default-font-color);
    outline: none;
}

body {
  background-color: var(--default-background-color)
}


#root > *{
  margin-left: 8vw;
  margin-right: 8vw;
}

@media screen and (max-width: 1400px) {
  #root > *{
      margin-left: 4vw;
      margin-right: 4vw;
  }
}

@media screen and (max-width: 700px) {
  #root > *{
      margin-left: 1vw;
      margin-right: 1vw;

      font-size: var(--phone-font-size);
  }

}